* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  color: #fff;
  letter-spacing: 0.5px;
}

a {
 text-decoration: none;
 color: #fff;
}

ul {
  list-style: none;
}

/* Utilities */
.highlight {
  color: #d8c11a;
}

/* menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  width: 100%;
  height: 11vh;
  padding: 0 50px;
  transition: 0.5s;
}

.menu img {
  display: block;
  width: 160px;
}

.menu nav {
  align-self: stretch;
}

.menu ul {
  display: flex;
  align-items: stretch;
  align-content: center;
  height: 100%;
}

.menu ul a:hover, #current {
  background: #333;
  color: #d8c11a;
}

.menu a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 0 1px;
}

/* Login area */

#container {
  margin: 15vh auto 25px;
  max-width: 400px;
  padding: 12px;
}

/* Form */
.form-wrap {
  background-color: #fff;
  padding: 15px 25px;
  color: #333;
  border-radius: 8px;
  box-shadow: 3px 3px 5px black;
}

.form-wrap h1 {
  text-align: center;
  font-family: "lemonmilk", sans-serif;
  letter-spacing: 3px;
}

.form-wrap .form-group {
  margin-top: 18px;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
  text-decoration: underline solid #d8c11a 3.5px;
  margin: 0.8rem 0;
}

.form-wrap .form-group a {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #d8c11a;
  transition: all 0.2s;
}

.form-wrap .form-group a:hover {
  color: #E6D11F;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
  border-radius: 5px;
  box-shadow: 0.06rem 0.06rem 4px black;
}

.form-wrap .form-group input:focus {
  box-shadow: none;
}

/* Login button */
.form-wrap button {
  display: block;
  width: 100%;
  font-weight: 600;
  background-color: #05285b;
  color: #fff;
  box-shadow: 0.06rem 0.06rem 4px black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.2s;
}


.form-wrap button:hover {
  background-color: #1a5fb4;
  box-shadow: none;
}

/* Division */
.or {
  display: flex;
  align-items: center;
}

.or hr {
  font-display: center;
  flex: 1 1 auto;
  background-color: #ddd;
  height: 1px;
  margin: 0;
  background-color: #1a5fb4;
  border: 0.8px #ddd solid;
}


.or p {
  font-size: 14px;
  flex: auto 1 auto;
  padding: 5px;
  margin: 13px 5px;
  color: #bbb;
}

/* Media icons */
.media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;
  height: 65px;
}

.media p {
  color: #aaa;
  flex: auto 1 auto;
  justify-content: center;
}

.media .imgs {
  height: 65px;
  width: 200px;
  display: flex;
  align-items: center;
}

.imgs i {
  font-size: 2.26em;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.fa-google {
  justify-self: flex-start;
  color: #DB4437;
  transition: all 0.2s;
}

.fa-google:hover {
  color:#333;
}

.fa-facebook {
  justify-self: center;
  color: #4267B2;
  transition: all 0.2s;
  
}

.fa-facebook:hover {
  color:#333;
}

.fa-twitter {
  justify-self: flex-end;
  color: #1DA1F2;
  transition: all 0.2s;
}

.fa-twitter:hover {
  color:#333;
}

/* Forgot password message */
.fpassword {
 margin-top: 10px;
 text-align: center;
 color: #f4f4f4;
}

.fpassword a {
  font-weight: 600;
  color: #d8c11a;
  transition: all 0.2s;
}

.fpassword a:hover {
  color: #E6D11F;
}

/* Other Medias Display */

@media (max-width: 600px) {
  /* Menu */
  header {
    padding-top: 1.2rem;
    background: #1b1b1b
  }
  
  .menu {
    flex-direction: column;
    height: 33.5vh;
    padding: 0;
  }
  
  .menu ul {
    flex-direction: column;
  }
  
  .menu a {
    justify-content: center;
  }

  /* Login area */
  #container {
    margin: 5vh auto 4vh;
    max-width: 400px;
    padding: 12px;
  }

  /* Media */
  .media {
    flex-direction: column;
  }

  .media p {
    margin-bottom: 1rem;
  }
}