* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  color: #fff;
  letter-spacing: 0.5px;
}

a {
 text-decoration: none;
}

header {
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  height: 11vh;
  padding: 10px 10px;
}

header img {
  display: block;
  width: 150px;
}

ul {
  list-style: none;
}

header nav {
  align-self: stretch;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: #fff;
  width: 100%;
  height: 11vh;
  padding: 0 50px;
  transition: 0.5s;
}

.highlight {
  color: #d8c11a;
}

.navbar ul {
  display: flex;
  align-items: stretch;
  align-content: center;
  height: 100%;
}

.navbar ul a:hover, #current {
  background: #333;
  color: #d8c11a;
}

.navbar a {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  margin: 0 1px;
  text-align: center;
}

#container {
  margin: 35px auto 25px;
  max-width: 400px;
  padding: 12px;
}

#container .logo {
  display: block;
  position: relative;
  left: 9px;
  width: 352px;
  margin-bottom: 45px;
}


.form-wrap {
  background-color: #fff;
  padding: 15px 25px;
  color: #333;
  border-radius: 8px;
  box-shadow: 3px 3px 5px black;
}

.form-wrap h1 {
  text-align: center;
  font-family: "lemonmilk", sans-serif;
  letter-spacing: 3px;
}


.form-wrap .form-group {
  margin-top: 18px;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
  text-decoration: underline solid #d8c11a 3.5px;
  margin: 0.8rem 0;
}

.form-wrap .form-group a {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #d8c11a;
  transition: all 0.2s;
}

.form-wrap .form-group a:hover {
  color: #E6D11F;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
  border-radius: 5px;
  box-shadow: 0.06rem 0.06rem 4px black;
}

.form-wrap .form-group input:focus {
  box-shadow: none;
}

.or {
  display: flex;
  align-items: center;
}

.or hr {
  font-display: center;
  flex: 1 1 auto;
  background-color: #ddd;
  height: 1px;
  margin: 0;
  background-color: #1a5fb4;
  border: 0.8px #ddd solid;
}


.or p {
  font-size: 14px;
  flex: auto 1 auto;
  padding: 5px;
  margin: 13px 5px;
  color: #bbb;
}

.media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;
  height: 65px;
}

.media p {
  color: #aaa;
  flex: auto 1 auto;
  justify-content: center;
}

.media .imgs {
  height: 65px;
  width: 200px;
  display: flex;
  align-items: center;
}

.imgs i {
  font-size: 2.26em;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.fa-google {
  justify-self: flex-start;
  color: #DB4437;
  transition: all 0.2s;
}

.fa-google:hover {
  color:#333;
}

.fa-facebook {
  justify-self: center;
  color: #4267B2;
  transition: all 0.2s;
  
}

.fa-facebook:hover {
  color:#333;
}

.fa-twitter {
  justify-self: flex-end;
  color: #1DA1F2;
  transition: all 0.2s;
}

.fa-twitter:hover {
  color:#333;
}

.form-wrap button {
  display: block;
  width: 100%;
  font-weight: 600;
  background-color: #05285b;
  color: #fff;
  box-shadow: 0.06rem 0.06rem 4px black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.2s;
}


.form-wrap button:hover {
  background-color: #1a5fb4;
  box-shadow: none;
}

.form-wrap .bottom-text {
  font-size: 13px;
  margin-top: 20px;
}

footer {
 margin-top: 10px;
 text-align: center;
 color: #f4f4f4;
}

footer a {
  font-weight: 600;
  color: #d8c11a;
  transition: all 0.2s;
}

footer a:hover {
  color: #E6D11F;
}